.technologies-container {
  display: flex;
  justify-content: center;
}
.technologies {
  margin-left: 30px;
  animation: fadein .5s;
}
.tech-logo {
  font-size: 2.5rem;
}
.list-title {
  font-size: 25px;
}
.list-paragraph {
  font-size: 20px;
}
.list-item {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .technologies {
    margin-left: 70px;
  }
  .section-title {
    margin-bottom: 25px;
    font-size: 60px;
  }
  .tech-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 3rem 0;
  }
  .list-item {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1300px) {
  .technologies {
    /* margin: 180px 140px; */
    margin: 0px 140px;
  }
}
