/* .footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  } */
.footer-header, .datenschutz-link, .impressum-link {
  margin-left: 30px;
}

@media screen and (min-width: 800px) {
  .footer {
    /* max-width: 1170px; */
    margin: 0 120px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 1rem;
  }
  .footer-header, .datenschutz-link {
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 2000px) {
  .footer {
    margin-top: 150px;
  }
}
@media screen and (min-height: 1100px) {
  .footer {
    margin-top: 250px;
  }
}
